---
const today = new Date();
---

<footer class="site-footer">
	<p>&copy; {today.getFullYear()} Chris Birch.</p>
</footer>

<style>
	.site-footer {
		margin-top: var(--space-2xl);
		padding: var(--space-l) var(--space-m) var(--space-xl);
		text-align: center;
		color: var(--clr-subtle);
		font-size: var(--fs-300);
		background-color: var(--clr-primary--darker);
		border-top: 1px solid var(--clr-primary--lighter);
	}

	.site-footer p {
		margin: 0;
	}
</style>
